.contenido {
	display: grid;
	align-items: flex-start;
	gap: 4rem;
}

@media (min-width: 768px) {
	.contenido {
		grid-template-columns: 3fr 2fr;
	}
}

.carrito {
	padding: 2rem 0;
}

.producto {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 2rem;
	align-items: center;
	padding: 1rem 0;
	border-bottom: 1px solid #cfcfcf;
	position: relative;
}

.producto:last-child {
	border-bottom: none;
}
.producto p {
	margin: 0 0 0.5rem 0;
}
.producto span {
	font-size: 3rem;
	font-weight: 900;
}
.nombre {
	font-size: 4rem;
	font-weight: 700;
}
.select {
	all: unset;
	border: 1px solid var(--black);
	padding: 0.5rem;
	text-align: center;
	border-radius: 0.7rem;
	width: 100%;
}
.precio {
	margin-top: 2rem;
	font-weight: 700;
	color: var(--primary);
}
.subtotal {
	font-size: 2.2rem;
}

.resumen {
	background-color: #f9fafb;
	padding: 2rem;
	border-radius: 1rem;
	position: sticky;
	top: 3rem;
}

.eliminar {
	all: unset;
	position: absolute;
	top: 3rem;
	right: 2rem;
	font-weight: 900;
	font-size: 2rem;
	color: rgb(163, 6, 6);
}

.eliminar:hover {
	cursor: pointer;
	/* color: var(--black); */
}
